In [2]:
from scripts.figures_import_helper import path_data

In [9]:
import os
import pandas as pd
import rebidding

In [3]:
path_data

'/home/sylvain/Dropbox/Econ/papiers/gameTheory/missing_bids/data/data_for_missing_bids_figures'

In [6]:
fc_collusion_path = os.path.join(path_data, 'fc_collusion.csv')
df_collusion = pd.read_csv(fc_collusion_path)

In [7]:
df_collusion.columns

Index(['tend_date', 'cont_date', 'reserveprice', 'low_limit', 'tech_point',
       'score', 'nd_bid_value', 'nd_score', 'rd_bid_value', 'rd_score', 'v18',
       'reason', 'proj_cat', 'aucform', 'ubtec', 'lc', 'nbid', 'anb',
       'proj_size', 'branch_id', 'v70', 'year', 'mo', 'day', 'duplicate',
       'dup', 'open', 'bid', 'low_limit_n', 'winbid', 'pid', 'bidder_id',
       'second_round', 'fyear', 'before', 'norm_bid'],
      dtype='object')

In [16]:
data = rebidding.MultistageAuctionData(df_collusion)
df_bids = data.df_bids
df_bids.head()

,pid,norm_bid,bid,reserveprice,lowest,second_lowest,most_competitive
0,27365,0.989011,13500000.0,13650000,0.879121,0.952381,0.879121
1,45532,0.904523,3600000.0,3980000,0.854271,0.891960,0.854271
2,34495,1.008957,93500000.0,92670000,0.981979,1.008957,0.981979
3,17091,1.029783,61200000.0,59430000,0.975938,0.997813,0.975938
4,14416,1.003107,184000000.0,183430000,0.954042,0.978030,0.954042

In [17]:
cont = df_bids['lowest'] > 1

In [18]:
cont.mean()

0.18991899189918993

In [20]:
df_bids['res_over_bid'] = df_bids.reserveprice / df_bids.bid

In [21]:
sel_marginal_cont = (df_bids['lowest'] > 1) & (df_bids['norm_bid'] * .98 < 1)

In [23]:
sel_marginal_info = (df_bids['lowest'] > 1) & (df_bids['norm_bid'] * .98 > 1) & (
        df_bids['norm_bid'] * .98 < df_bids['lowest']
)

In [24]:
df_bids[cont].res_over_bid.describe()

count    1899.000000
mean        0.893847
std         0.068404
min         0.526207
25%         0.856923
50%         0.910307
75%         0.944828
max         0.999407
Name: res_over_bid, dtype: float64

In [25]:
df_bids[sel_marginal_cont].res_over_bid.describe()

count    91.000000
mean      0.988564
std       0.005593
min       0.980190
25%       0.984020
50%       0.987447
75%       0.993063
max       0.999407
Name: res_over_bid, dtype: float64

In [26]:
df_bids[sel_marginal_info].res_over_bid.describe()

count    359.000000
mean       0.921545
std        0.054738
min        0.737131
25%        0.892063
50%        0.940741
75%        0.962610
max        0.980000
Name: res_over_bid, dtype: float64